import gzip

input_file = '/workspaces/Hotel-Gio/requirements.txt'
output_file = '/workspaces/Hotel-Gio/requirements.txt.gz'

with open(input_file, 'rb') as f_in:
    with gzip.open(output_file, 'wb') as f_out:
        f_out.writelines(f_in)
